*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: relative;
    overflow-x: hidden;
    flex-direction: column;
}

.navbar{
    height: 13vh;
    width: 100%;
    background: linear-gradient(45deg, rgb(203, 16, 255), rgb(255, 169, 20) 60%);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 999;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 1.4em;
    margin-right: 5%;
}

.Logo{
    position: absolute;
    left: 7%;
}

.Logo1{
    width: 12vh;
    height: auto;
    display: flex;
}

.nav-item{
    list-style: none;
}

.nav-item a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: clamp(1rem, 2vw, 1.2rem);
    transition: 500ms;
    font-weight: 600;
}

.nav-item a:hover{
    color: rgb(233, 67, 255);
}

#Colabore{
    width: 10em;
    height: 3.5em;
    background-color: rgb(255, 0, 234); 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4vh;
    transition: 500ms;
}

#Colabore:hover{
    background-color: rgb(213, 77, 255);
    transform: scale(1.1);
}
.inicio{
    position: relative;
    top: 13vh;
    left: 50%;            
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.fundador{
    position: absolute;
    top: 0vh;
    left: 50%;            
    transform: translateX(-50%);
    width: 54vh;
    height: 17vh;
    background-color: rgb(255, 201, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    font-size: 1.9rem;
}

.jucara img{
    margin-top: 20vh;
    width: 45vh;
}

.inicio h2{
    margin-top: 1vh;
    font-size: 1.8rem;
}

.inicio p{
    margin-top: 2vh;
    max-width:65%;
    text-align: center;
    font-size: 1.4rem;
}

.adm{
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.adm img{
    height: 85%;
}

.adms{
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 45vh;
    background-color:rgb(158, 98, 255);
    border-top-right-radius: 3vh;
    border-top-left-radius: 3vh;
    color: rgb(255, 255, 255);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
    background-color: rgb(153, 29, 255);
}

.desc-elvira{
    margin-left: 3vh;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    max-width: 70%;
}
.container1{
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
    background-color: rgb(195, 122, 255);
    text-align: right;
}
.desc-fernanda{
    margin-right: 3vh;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    max-width: 70%;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
    background-color: rgb(213, 76, 255);
}

.desc-michele{
    margin-left: 3vh;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    max-width: 70%;
}

.container3{
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
    background-color: rgb(166, 40, 224);
    text-align: right;
}

.desc-monica{
    margin-right: 3vh;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    max-width: 70%;
}

.container4{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
    background-color: rgb(124, 0, 226);
}

.desc-vanice{
    margin-left: 3vh;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    max-width: 70%;
}

.container5{
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
    background-color: rgb(146, 30, 255);
    text-align: right;
}

.desc-rodrigo{
    margin-right: 3vh;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    max-width: 70%;
}

.container6{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
    background-color: rgb(165, 0, 236);
}

.desc-criss{
    margin-left: 3vh;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    max-width: 70%;
}

.container6 img{
    height: 70%;
}

.container7{
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
    background-color: rgb(203, 71, 255);
    text-align: right;
}

.container7 img{
    height: 90%;
}

.rodape{
    position: relative;
    bottom: 0;
    margin-top: -3.5vh;
    background-image: url(img/Rectangle\ 50.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.logo-rodape img{
    position: absolute;
    bottom: 8vh;
    height: auto;
    left: 7vh;
    width: 45vh;
}
.inf-rodape{
    width: 65%;
    bottom: 13vh;
    left:33%;
    position: absolute;
    display: flex;
    gap: 3%;
    font-size: clamp(1rem, 1.7rem, 1.8rem);
    color: black;
    text-align: justify;
}

.insta, .facebook, .youtube, .whatsapp, .email{
    display: flex;
    margin-top: 3vh;
}

.redes, .formas-contato, .localizacao{
    align-items: center;
}

.redes, .formas-contato, p{
    margin-left: 1vh;
}

.rodape h1{
    font-size: 2.5rem;
}

.localizacao{
    max-width: 25vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}


@media (max-width:1600px){
    .inf-rodape{
        bottom: 10vh;
        left: 28%;
        font-size: 1.4rem;
    }
}

@media (max-width:800px){
    .navbar{
        height: 8%;
    }
    .nav-list{
        display: none;
    }
        .hamburger {
        display: flex;
        margin-right: 4vh;
    }
    .Logo1{
    width: 6vh;
    }
    .fundador{
        margin-top: -5vh;
        width: 60%;
        height: 10vh;
        font-size: 1rem;
    }
    .jucara{
        margin-top: -11vh;
        display: flex;
        justify-content: center;
    }
    .jucara img{
        width: 70%;
    }
    .inicio h2{
        font-size: 1.5rem;
    }
    .inicio p{
        font-size: 0.9rem;
        max-width: 90%;
    }
    .container, .container1, .container2, .container3, .container4, .container5, .container6, .container7{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 53vh;
        margin: 0;
    }
    .container img, .container1 img, .container2 img, .container3 img, .container4 img, .container5 img, .container6 img, .container7 img{
        width: 55%;
        height: 25vh;
    }
    .desc-criss, .desc-elvira, .desc-fernanda, .desc-michele, .desc-monica, .desc-rodrigo, .desc-vanice p{
        font-size: 0.8rem;
        text-align: center;
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .desc-vanice{
        text-align: center;
        margin-left: -2vh;
        max-width: 90%;
    }
    .adms{
        height: 10vh;
        width: 30vh;
    }

    .adm h1{
        font-size: 1.5rem;
    }
    .rodape{
        position: relative;
        height: 35vh;
        width: 100%;
    }
    .logo-rodape img{
        display: none;
    }
    .rodape h1{
        font-size: 0.8rem;
    }
    .redes, .formas-contato, .localizacao{
        width: 50%;
    }
    .inf-rodape{
        left: 1vh;
        bottom: 9vh;
        font-size: 0.6rem;
    }

    .inf-rodape p{
        width: 90px;
    }
}